{{ set(this, 'title', 'RandomTube') }}
<div class="columns is-centered">
    <div class="column is-parent is-10 is-12-mobile">
        {% if video %}
            {% if video.link_video %}
                <div id="ytplayer"></div>
                <script>
                    // Load the IFrame Player API code asynchronously.
                    var video_id = '{{ video.link_video }}';
                    window.onload = function() {
                        createPlayer();
                        };
                </script>
            {% endif %}
        {% else %}
            <div class="center-block"><h3>Видео временно отсутствуют</h3></div>
        {% endif %}
    </div>
</div>
{{ void(this.beginBlock('customcss')) }}
{% if customcss %}
    <style>{{ customcss }}</style>
{% endif %}
{{ void(this.endBlock()) }}


<div class="columns is-centered">
    <div class="column is-10 is-12-mobile">
        <div class="columns is-mobile">
            <div class="column is-4">
                <a href="javascript:void(0)" class="button is-large buttonIndex" id="like" name="buttonLike"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
            </div>
            <div class="column is-4 has-text-centered">
                <input type="submit" class="button is-large buttonIndex center-block" value="Ещё" id="get_video" name="buttonGetVideo">
            </div>
            <div class="column is-4 has-text-right">
                <a href="javascript:void(0)" class="button is-large buttonIndex" id="dislike" name="buttonDislike"> <i class="fas fa-thumbs-down"></i></a>
            </div>
        </div>
    </div>
</div>
